{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {{ app.user.getFullName() }}
        <ul>
            <li>Всего игр:</li>
            <li>Процент за мафию:</li>
            <li>Процент за мирных:</li>
            <li>Процент за шерифа:</li>
            <li>Процент за дона:</li>
        </ul>
    </div>
{% endblock %}