<h1>Привет! Пожалуйста, подтвердите вашу регистрацию на сайте mafia-manager.ru</h1>

<p>
    Для того, чтобы подтвердить свою регистрацию, нужно перейти по следующей ссылке: <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    Эта ссылка будет действительна в течении {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
