@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
$mafia-colors: (
        "sherif": #F5F863,
        "mafia": #DE8D8D,
        "don": #C6A5EF,
        "civilian" : #A4DCF4,
        "win": #9FF8B2,
        "lose": #CFC9C9
);

$table-variants: map-merge($table-variants, $mafia-colors);
$theme-colors: map-merge($theme-colors, $mafia-colors);



@import "~bootstrap/scss/bootstrap";



